<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomValue">
  <agm-marker
    *ngFor="let item of stationdata; let i = index"
    [latitude]="item.value.lat"
    [longitude]="item.value.lng"
    [iconUrl]="iconUrl"
  >
    <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
      <ng-template>
        <div style="word-break: break-all;white-space:pre-line;">
          <font color="#FF0000"></font>
          {{ item.value.sna }}<br />
          地址: {{ item.value.ar }}<br />
          可借: {{ item.value.sbi }}<br />
          可停: {{ item.value.bemp }}<br />
        </div>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>
<router-outlet></router-outlet>
